@model App.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

@if (Model.Movies.Count == 0)
{
    <p>There are no customers on record.</p>
}
@if (Model.Movies.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td><a href="Movies/Details/@movie.Id">@movie.Name</a></td>
                <td>@movie.Genre.GenreName</td>
            </tr>
        }
        </tbody>
    </table>
}


