@model App.ViewModels.CustomerDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Customer.Name</h1>

<ul>
    <li>MembershipType: @Model.Customer.MembershipType.MembershipName</li>
    @if (Model.Customer.BirthDate != null)
    {
        <li>Birthdate: @Model.Customer.BirthDate</li>
    }
</ul>

